@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    width: 100vw;
    height: 100vh;
}
p,h1,h2,h3,h4,h5,h6{
    margin-bottom: 10px;
} 
header, section.normal{
    padding: 20px;
}
section.flex-content{
background-color: gray;
padding: 20px;
display: flex;
flex-flow: column nowrap;
}
article{
    display: flex;
}
article.media-text{
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}
article.text-media{
    flex-flow:row wrap;
    justify-content: space-between;
}
div.text{
    flex:1 0 500px;
    border:2px dashed white
}
div.media{
    border: 2px dashed black;
    flex: 1 0 300px
}
div.media img{
    display: block;
    margin: auto;
    width: 300px;
}
div.media iframe{
    display: block;
    margin: auto;
    padding: 0px 10px;
    width: 90%;
}
