@charset "UTF 8";

@media screen and (min-width:768px){
    span#burguer{
        display: none;
    }
    menu#list{
        display: block;
    }
    menu li{
        display: inline-block;
    }
    main{
        width: 800px;
    }
}