@charset "UTF 8";
*{
    margin: 0;
    padding: 0;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   background-color: lightgray;
}
header{
    background-color: gray;
}
header h1{
    padding: 10px;
    text-align: center;
}
span#burguer{
    background-color: rgb(46, 45, 45);
    display: block;
    text-align: center;
    padding: 10px;
}
span#burguer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
menu{
    display: none;
    margin-bottom: 10px;
}
menu ul{
    list-style-type: none; 
}
menu ul> li> a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(68, 68, 68);
    color:white;
    border-top: 1px solid rgb(141, 139, 139);
}
menu a:hover{
    background-color: gray;
}
main{
    margin-top: 10px;
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
article h2{
    padding-bottom: 10px;
}
article p{
    text-align: justify;
    text-indent: 20px;
}