@charset "UTF 8";

/* TODAS AS DEMAIS MÍDIAS */

/* typical Device Breakpoints
-----------------------------
Pequenas telas: até 600px
Celular: 600px até 768
Tablet: 768px até 992
desktop: 992px até 1200px
Grande telas: acima de 1200px
 */
@media print{
    body{
        background-image: url('../imagens/back-print.jpg'); /* Desnecessário pois na impressão ele não funciona o background */
    }
    main{
        border:2px solid black ;
    }
    main::after{
        content: 'Essa impressão foi feita no meio do seu cu';
        text-decoration: overline;
    }
    h1{
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }
    img{
        display: block;
        margin: auto;
    }
    img#phone{
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#pc{
        display: none;
    }
    img#impressora{
        display: block;
    }
    img#tv{
        display: none;
    }
}
@media screen and (min-width:768px) and (max-width:992px)
/* css para telas que tem uma largura mínima de 768px e tem um máximo de 992px de largura */
{
    body{
    background-image:url('../imagens/back-tablet.jpg');
    }
    img{
        display: block;
        margin: auto;
    }
    img#phone{
        display: none;
    }
    img#tablet{
        display: block;
    }
    img#pc{
        display: none;
    }
    img#impressora{
        display: none;
    }
    img#tv{
        display: none;
    }
    }
@media screen and (min-width:992px) and (max-width:1200px){

    body{
    background-image:url('../imagens/back-pc.jpg');
    }
    img{
        display: block;
        margin: auto;
    }
    img#phone{
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#pc{
        display: block;
    }
    img#impressora{
        display: none;
    }
    img#tv{
        display: none;
    }
}
    
@media screen and (min-width:1200px){
    body{
    background-image:url('../imagens/back-tv.jpg');
    }
    main{
        width: 700px;
    }
    img{
        display: block;
        margin: auto;
    }
    img#phone{
        display: none;
    }
    img#tablet{
        display: none;
    }
    img#pc{
        display: none;
    }
    img#impressora{
        display: none;
    }
    img#tv{
        display: block;
    }
}
