@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template: repeat(3, 200px) / repeat(4, 200px);
}
#caixa1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: blue;
}
#caixa2{
    grid-row-start:2;
    grid-row-end:4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: brown;
}
#caixa3{
    grid-row-start:2;
    grid-row-end:4;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: gray;
}