@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    grid-template: repeat(3, 200px) / repeat(4, 200px);
}
#caixa1{
    background-color: blue;
    grid-row: 1/2;
    grid-column: 1/5;
}
#caixa2{
    background-color: brown;
    grid-row: 2/4;
    grid-column: 1/3;
}
#caixa3{
    background-color: gray;
    grid-row: 2/4;
    grid-column: 3/5;
}